.card{
    width: 400px;
}

.card-header-image {
  background-image: url('../../../../assets/images/imageTombe1.jpg');
  background-size: cover;
}

.mat-card{
    display: inline-block;
    margin:20px;
    width: 200px;
    padding: 24px 24px 10px 24px
}

.mat-card-image {
    height: 180px;
}

.mat-card-avatar {
    height: 50%;
    width: 50%;
    max-width: 100px;
    border-radius: 100%;
    flex-shrink: 0;
}

.card-actions {
    height: 40px;
    padding-left: 20px;
}
.card-actions > *{
	float:left;
    margin: 10px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}