<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button md-fab class="btn btn-primary btn-margin btnConnexion" (click)="auth.login()" *ngIf="!auth.authenticated()">
        <md-icon>Connexion</md-icon>
      </button>
      <button md-fab class="btn btn-primary btn-margin btnConnexion" (click)="auth.logout()" *ngIf="auth.authenticated()">
        <md-icon>{{auth.getUserName()}}</md-icon>
      </button>
    </div>
  </div>
</nav>

<main class="container">
  <router-outlet></router-outlet>
</main>