.complex-menu-item{
    display:inline-flex;
}

.malk-tab-link{
    float:left;
}

.malk-tab-link-more{
    min-width: 20px;
    right: 40px;
    line-height: 48px;
    height: 48px;
    padding: 0 12px;
    font-size: 14px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-weight: 500;
    cursor: pointer;
    box-sizing: border-box;
    opacity: .6;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}
.malk-tab-link-more:focus{
    outline: 0;
    opacity: 1;
}